<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://cdn-webgl.eegeo.com/eegeojs/early_access/latest/eegeo.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" rel="stylesheet" />
  </head>
  <body>
  <div id="content" style="position: relative">
    <div id="map" style="height: 400px"></div>
    <script>
      var map = L.eeGeo.map("map", "ea4f9f9e2c6245c7a4d404abd8589e08", {
        center: [13.147448, 77.608509],
        zoom: 16
      });
    </script>

  </div>
  </body>
</html>